.start-game-wrapper {
  max-width: 590px;
  color: #fff;
  text-align: center;
}

.title img {
  min-width: 300px;
}

.slogan {
  font-size: 20px;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 1px;
  width: 13rem;
  margin: 1rem auto 4rem;
}

/* For medium devices */
@media (min-width: 744px) {
  .start-game-wrapper {
    gap: 0;
  }

  .title img {
    max-width: 500px;
  }

  .slogan {
    width: 100%;
    /* margin-bottom: 4rem; */
  }
}
