.start-game-wrapper {
  max-width: 590px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
  padding-top: 3rem;
}

.slogan {
  font-size: 20px;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 1px;
  width: 13rem;
  margin: auto;
}

/* For medium devices */
@media (min-width: 744px) {
  .start-game-wrapper {
    gap: 0;
  }

  .slogan {
    width: 100%;
    margin-bottom: 4rem;
  }
}
