.radio-buttons {
  display: flex;
  position: relative;

  padding-left: 0;

  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label.radio-buttons {
  width: 100%;
  text-align: center;
}

.radio-buttons input {
  position: absolute;

  opacity: 0;
  cursor: pointer;
  margin-top: 30px;
  z-index: 1; /* To ensure it's clickable */
  height: 15px;
  width: 15px;
  /* margin-right: 5px; Space between the input and the label text */
}

.checkmark {
  position: absolute !important;
  margin-top: 5px;
  margin-left: 20px;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #ffffff;
  border-radius: 50%;
}

.radio-buttons:hover input ~ .checkmark {
  background-color: #fffff;
}

.radio-buttons input:checked ~ .checkmark {
  background-color: #fffff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-buttons input:checked ~ .checkmark:after {
  display: block;
}

.radio-buttons .checkmark:after {
  top: 3px;
  left: 3px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #7e5fc0;
}
