.summaryContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "h1 h1"
        "h2 h2"
        "textSummary textSummary";
    max-width: 800px;
    justify-items: center;
    align-items: center;
    margin-top: 70px;
}

.h1 {
    font-size: 48px;
    font-family: 'Harry Potter', sans-serif;
    color: transparent;
    margin-top: 0px;
    margin-bottom: 7px;
    grid-area: h1;
}

.h2 {
    font-size: 60px;
    font-family: 'Harry Potter', sans-serif;
    color: #ffcc66;
    margin-top: 0px;
    margin-bottom: 30px;
    grid-area: h2;
}

.topOfHeader {
    margin: 0;
    font-size: 20px;
}

.resultsSubHeader {

    color: #ffcc66;
    font-family: 'Harry Potter', sans-serif;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.1em;
}

.textSummary {
    border: 2px solid #b78f41bd;
    background-color: #0b0a15b3;
    padding: 25px;
    line-height: 1.5;
    grid-area: textSummary;
}

.lastSummary {
    font-size: 15px;
    text-align: center;
    padding: 10px 10px 30px 10px;
}

@supports (-webkit-background-clip: text) or (background-clip: text) {

    .resultsSubHeader {
        background-image: linear-gradient(to bottom, #ffcc66, #b78f41bd);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

    }

    .h1,
    .h2 {
        background-image: linear-gradient(to bottom, #ffcc66, #000);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}