.header {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Harry Potter', sans-serif;
    letter-spacing: 0.1em;

}

.regularText {
    color: #ffffff;
    font-size: 20px;
    font-family: 'SPQR', sans-serif;
    letter-spacing: 0.1em;
}