.button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: white;
    background-color: transparent;



    .button :hover {}

    &:disabled {}
}

button {
    margin-top: 10px;
}