.icon {
  width: 46px;
  height: 46px;
  position: absolute;
  right: 0;
  top: -48px;
  filter: invert(1);
}

.bar {
  background-color: transparent;
  max-width: 800px;
  height: 17px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.progressBar {
  display: flex;
  align-items: center;
  position: relative;
  height: 50%;
  background: linear-gradient(to bottom, #ffcc66, #000);
  border-radius: 20px;
}

.num {
  color: #fff;
  text-align: end;
  font-family: "Harry Potter", sans-serif;
}

@media (max-width: 600px) {
  .icon {
    width: 40px;
    height: 40px;
  }
  .bar {
    margin-top: 40px;
    margin-inline: 14px;
  }

  .num p {
    margin: 0;
  }
}
