.the-question {
  position: relative;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
}

.question-text {
  margin: 0 0 20px 0;
  justify-content: center;
  display: flex;
  font-size: 2em;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
}

.an-image {
  width: 50vh;
  height: 50vh;
  object-fit: contain;
  margin: 0 auto;
}

/* .timer-display {
  font-size: 30px;
  color: red;
  position: absolute;
  right: 0;
  right: 15px;
  top: 5px;
  z-index: 1;
  margin-right: 20px;
} */

/* @keyframes blink {
  0% {
    background-color: orange;
  }
  50% {
    background-color: orangered;
  }
  100% {
    background-color: red;
  }
} */

.timer-display {
  font-size: 3em;
  background-color: red;
  color: white;
  border-radius: 10px;
  position: absolute;
  right: 15px;
  top: 5px;
  z-index: 1;
  margin-right: 20px;
  padding: 10px;
}

.the-answer-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 200px auto 100px;
  align-items: center;
  max-width: 600px;
}

.the-answer-options button {
  display: inline-block;
  text-align: center;
  background: white;
  color: black;
  font-weight: bold;
  padding: 1.18em 3em 1.03em;
  line-height: 1;
  border-radius: 1em;
  position: relative;
  min-width: 8.23em;
  text-decoration: none;
  font-size: 1.25rem;
  border: none;
  margin-top: 2rem;
  grid-column: 1 / span 2;
}

.the-answer-options button:before,
.the-answer-options button:after {
  width: 7em;
  height: 3em;
  position: absolute;
  content: "";
  display: inline-block;
  background: white;
  border-radius: 50%;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: scale(0);
  z-index: -1;
}

.the-answer-options button:before {
  top: -20%;
  left: 40%;
}

.the-answer-options button:after {
  bottom: -25%;
  right: 40%;
}

.the-answer-options button:hover:before,
.the-answer-options button:hover:after {
  transform: none;
}
/* .the-answer-options label {
  display: flex;
  align-items: center;
} */

.the-answer-options input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

@media (min-width: 667px) {
  .an-image {
    width: 80vh;
    height: 80vh;
  }
}

@media (min-width: 1025px) {
  .an-image {
    width: 100vh;
    height: 100vh;
  }
}
