.the-question {
position: relative;
height: 80vh;
width: 100%;
display: flex;
flex-direction: column;
place-content: center;

}

.question-text {
margin: 0 0 20px 0;
justify-content: center;
display: flex;
font-size: 20px;
font-family: Georgia, "Times New Roman", Times, serif; /* Change to something fun */
}

.an-image {
width: 50vh;
height: 50vh;
object-fit: contain;
margin: 0 auto;

}

.timer-display {
font-size: 30px;
color: red;
position: absolute;
right: 0;
right: 15px;
top: 5px;
z-index: 1;
margin-right: 20px;

}

.the-answer-options {
display: flex;
flex-direction: column;
align-items: start;
gap: 10px;
margin: 200px 0 100px 0;
align-items: center;
}
.the-answer-options button {
align-self: center;
font-size: 150%;
padding: 10px 20px;
margin-left: 150px;
}

@media (min-width: 667px) {
  .an-image {
    width: 80vh;
    height: 80vh;    
    }
  }
  
  @media (min-width: 1025px) {
    .an-image {
      width: 100vh;
      height: 100vh;    
      }
  }