/* CSS for answer section, 4 buttons etc */

.button {
  background-color: red;
}

.answerOptionsBox {
  color: blue;
  border: 2px solid red;
  padding: 1em;
}

.answerOptionsBox img {
  max-width: 150px;
  border: 1px solid black;
  padding: 1em;
}

/* Styling for the radio buttons - country flags */

/*Hiding the radio buttons*/
.flags input[type="radio"] {
  display: none;
  cursor: pointer;
}

[type="radio"]:checked + img {
  border-radius: 40px;
  border-color: #f266ab;
  background: #f266ab;
}
