/* CSS for answer section, 4 buttons etc */

.answerOptionsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.flags {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
}

label {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

button {
  background-color: #7493A3;
  color: white;
  height: 40px;
  width: 130px;
  font-family: 'Inika';
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  color: #7493A3;
  background-color: white;
}

/* Styling for the radio buttons - country flags */
[type="radio"] + img {
  max-width: 150px;
  border-radius: 35px;
  padding: 1em;
  cursor: pointer;
}

[type="radio"]:checked + img {
  border-radius: 40px;
  background: #8199A4;
}

/* Hiding the radio buttons */
.flags input[type="radio"] {
  display: none;
  cursor: pointer;
}