/* ---------- Reusable css ---------- */
.btn-text {
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.125rem;
  color: #fff;
}

.btn-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* -------------------- */
/* ---------- START QUIZ BTN ---------- */
.startquiz-btn {
  display: flex;
  width: 206px;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  border: 1px solid #431c52;
  background: linear-gradient(
    55deg,
    #ec661e -8.61%,
    #ab1d4f 41%,
    #61146f 92.72%
  );
  box-shadow: 0px 16px 24px 0px rgba(255, 255, 255, 0.3);
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 2px;
}

/* ---------- START QUIZ BTN END ---------- */

/* ---------- SUMMARY BTN ---------- */
.summary-btn {
  background-image: linear-gradient(
    90deg,
    #ec661e,
    #ab1d4f,
    #61146f,
    #ab1d4f,
    #ec661e
  );
  border-radius: 6rem;
  transition: 1s;
  background-size: 200% auto;
  padding: 1rem 2rem;
}

.summary-btn:hover {
  background-position: right center;
}

/* ---------- SUMMARY BTN END ---------- */

/* ---------- NEXT BTN ---------- */
.next-btn {
  --border-radius: 6rem;
  background: none;
  width: 10.8rem;
  height: 2.25rem;
  border: transparent;
  border-radius: var(--border-radius);
  position: relative;
}

/* ---------- Gradiant border ---------- */
.next-btn #btn-pseudocontent {
  position: absolute;
  inset: -4px;
  border: 4px solid #0000;
  border-radius: calc(4px + var(--border-radius));
  transform: translateZ(-1px);
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.next-btn #btn-pseudocontent:before {
  content: "";
  position: absolute;
  inset: -4px;
  background: conic-gradient(
    from 90deg,
    #61146f,
    #ab1d4f,
    #ec661e,
    #ab1d4f,
    #61146f
  );
  border-radius: var(--border-radius);
}

/* ---------- Gradiant border END ---------- */

.next-btn-content {
  display: flex;
  align-items: center;
}

.next-btn .btn-text {
  position: absolute;
  left: 27%;
}

.next-icon {
  width: 1.4rem;
  height: 1.4rem;
  color: #fff;
  transition: ease 0.4s;
  position: absolute;
  right: 27%;
}

.next-btn:hover .next-icon,
.summary-btn:hover .next-icon {
  right: calc(27% - 0.5rem);
}

/* ---------- NEXT BTN END ---------- */
