.question-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
  width: 80%;
  height: 291px;
  border-radius: 25px;
  background: rgba(201, 222, 193, 0.79);
  font-family: Arvo;
  color: #ffffff;
  padding: 15px;
  margin-right: 20px;
  margin-left: 20px;
}

.question-box label {
  margin-bottom: 10px;

  display: block;
}

.question-box h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1024px) {
  .question-box {
    line-height: 25px;
    font-size: 22px;
    text-align: center;
    width: 100%;
  }
  .question-box h3 {
    font-size: 20px;
  }
}

/* Desktop styles */
@media (min-width: 1025px) {
  .question-box {
    width: 650px;
    height: 280px;
    font-size: 14px;
    line-height: 26px;
  }

  .question-box label {
    margin-bottom: 10px;
    display: block;
  }

  .question-box label:last-child {
    margin-bottom: 0;
  }
}
