.home-title {
  display: flex;
  justify-content: center;
  color: black;
  margin: 4rem;
  font-size: 2rem;
  text-align: center;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

@media (min-width: 667px) {
  .home-title {
    font-size: 3rem;
    margin: 4rem;
  }
}

@media (min-width: 1025px) {
  .home-title {
    font-size: 4rem;
  }
}
