footer {
    margin: 40px 0 10px 0;
    padding: 10px;
    text-align: center;
}

footer a {
    color: rgb(242, 232, 182);
    word-wrap: break-word;
    text-decoration: none;
    line-height: 16px;
}

/* -----------links---------- */
.github-links {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.github-links img {
    vertical-align: middle;
    height: 40px;
    width: 40px;
    transition: all 0.2s ease-in-out;
}

/* --------------hover---------------- */

.github-links img:hover {
    transform: scale(1.3);
}

.github-links a:hover {
    text-shadow: #D9CFA0 5px 1px 10px;
}

/* ---------responsiveness---------- */
@media screen and (max-width:667px) {

    .github-links {
        flex-direction: column;
        align-items: center;
    }

    .github-links img {
        height: 35px;
        width: 35px;
    }

}