.options-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.options-container button {
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid rgba(67, 28, 82, 0.2);
  color: #431c52;
  font-size: 1rem;
  font-weight: 500;

  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.options-container .correct {
  /* background-color: rgba(255, 144, 51, 35%); */
  background-color: #69b097;
}

.options-container .incorrect {
  background-color: rgba(193, 64, 90, 35%);
}

.correct-icon,
.incorrect-icon {
  height: 1.3rem;
  width: 1.3rem;
  z-index: 1000;
}