.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.counter {
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 0.75rem;
    color: white;
}