.restart {
    display: flex;
    justify-content: center;
}

.restart-button {
    font-family: "Poppins", sans-serif;
    background-color: #d7f2fb;
    color: #0b24f5;
    border: 1px dotted #0b24f5;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 26px;
    cursor: pointer;
    margin: 20px;
}

.restart-button:hover {
    background-color: #0b24f5;
    color: white;
}

.next-button {
    font-family: "Poppins", sans-serif;
    background-color: #d7f2fb;
    color: #0b24f5;
    border: 1px dotted #0b24f5;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    margin: 20px;
}

.next-button:hover {
    background-color: #0b24f5;
    color: white;
}

.submit-button {
    font-family: "Poppins", sans-serif;
    background-color: #d7f2fb;
    color: #0b24f5;
    border: 1px dotted #0b24f5;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    margin: 20px;
}

.submit-button:hover {
    background-color: #0b24f5;
    color: white;
}