.error-page-wrapper {
    max-width: 20rem;
  width: 100%;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.errorpage-btn {
  box-shadow: 0px 16px 24px 0px rgba(255, 255, 255, 0.3);
}
