.welcome {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "h3 h3"
    "h1 h1"
    "h2 h2"
    "textWelcome textWelcome"
    "startButton startButton";
  max-width: 800px;
  justify-items: center;
  align-items: center;
  margin-top: 70px;
}

.h3 {
  font-size: 48px;
  font-family: "Harry Potter", sans-serif;
  color: #ffcc66;
  background-image: linear-gradient(to bottom, #ffcc66, #000);
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 30px;
  margin-bottom: 0px;
  grid-area: h3;
}

.h1 {
  font-size: 90px;
  font-family: "Harry Potter", sans-serif;
  color: #ffcc66;
  /* backupcolor older web browser */
  background-image: linear-gradient(to bottom, #ffcc66, #000);
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
  grid-area: h1;
}

.h2 {
  font-size: 48px;
  font-family: "Harry Potter", sans-serif;
  color: #ffcc66;
  background-image: linear-gradient(to bottom, #ffcc66, #000);
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
  grid-area: h2;
}

.textWelcomeBox {
  border: 2px solid #b78f41bd;
  grid-area: textWelcome;
  background-color: #0b0a15b3;
  margin-top: 45px;
  padding: 0 30px 30px 30px;
  line-height: 1.5;
}

.welcomeText {
  font-size: 15px;
}

.startButton {
  color: #fafafa;
  font-size: 15px;
  font-family: "SPQR", sans-serif;
  letter-spacing: 0.1em;
  background: linear-gradient(to bottom, #ffcc66, #000);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  /* border-radius: 50px;*/
  padding: 15px;
  font-weight: bold;
  grid-area: startButton;
  margin-top: -20px;
}

@media (max-width: 600px) {
  .h3 {
    font-size: 38px;
    margin-top: 30px;
  }

  .h1 {
    font-size: 56px;
  }

  .h2 {
    font-size: 30px;
  }
}
