.quizQuestion {
  padding: 50px;
  padding-top: 50px;
}

.levelContainer {
  display: flex;
  align-items: center;
  padding: 10px;
}

.levelText {
  color: white;
}

.questions {
  font-size: 20px;
}

.optionButton {
  color: #fafafa;
  font-size: 28px;
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.1em;
  padding: 15px;
  font-weight: bold;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 70px;
  border-radius: 15px;
  margin-bottom: 15px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.correct {
  background-color: #42fb52;
}

.incorrect {
  background-color: red;
}

/* Pad and simular */

@media (max-width: 900px) {
  .quizQuestion {
    padding: 14px;
    padding-bottom: 20px;
  }

  .quizMultichoice {
    padding: 24px;
  }

  .levelContainer {
    padding: 14px;
    padding-top: 35px;
  }
}

/* Mobile */

@media (max-width: 600px) {
  .quizQuestion {
    max-width: 400px;
    padding-bottom: 20px;
  }

  .optionButton {
    min-width: 100%;
    min-height: 50px;
  }

  .questions {
    font-size: 16px;
  }
}
