.quizQuestion {
  padding: 50px;
  padding-top: 0px;
}

.quizMultichoise {
  padding: 30px;
}

.levelContainer {
  display: flex;
  align-items: center;
  padding: 50px;
}

/* .levelWand {
  width: 80px;
} */

.levelText {
  color: white;
}

.questions {
  font-size: 20px;
}

.optionButton {
  color: #fafafa;
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.1em;
  padding: 15px;
  font-weight: bold;
  background-color: black;
  /* background-image: linear-gradient(to bottom, #d9ff66, #000); */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 70px;
  border-radius: 15px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}

.correct {
  background-color: #5fff6d;
}

.incorrect {
  background-color: red;
}

.shake {
  animation: shake 0.5s ease forwards;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10px);
  }

  75% {
    transform: translateX(10px);
  }
}

@supports (-webkit-background-clip: text) or (background-clip: text) {
  .correct {
    background-image: linear-gradient(to bottom, #08400d, #000);
  }

  .incorrect {
    background-image: linear-gradient(to bottom, #800000, #000);
  }
}

@media (max-width: 900px) {
  .quizQuestion {
    padding: 14px;
    padding-bottom: 20px;
  }

  .quizMultichoise {
    padding: 24px 14px;
  }

  .levelContainer {
    padding: 14px;
  }
}

@media (max-width: 600px) {
  .quizQuestion {
    max-width: 400px;
    padding-bottom: 5px;
  }

  .optionButton {
    min-width: 100%;
    min-height: 50px;
  }

  .questionText {
    font-size: 18px;
  }

  .quizMultichoise {
    padding: 13px 14px;
  }

  .questions {
    font-size: 16px;
  }
}
