@import url("https://fonts.cdnfonts.com/css/harry-potter?styles=41888");
@import url("https://fonts.cdnfonts.com/css/spqr");

:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: rgb(10, 2, 41);*/
}

code {
  /*font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;*/
}

html,
body {
  min-height: 100%;
}

html {
  background-color: #0b0a15;
  /*rgb(14, 14, 29);*/
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  cursor: url("./images/snitchh.png"), auto;
}

body::before {
  content: "";
  background-image: url("./images/iStock.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/*THIS IS WHERE WE CAN STYLE THE PAGE; F.EKS QA BOX IN GRIDS AND STYLE IT FURTHER*/

/*FOR STYLING THE WHOLE PAGE, CLASS IS IN APP*/
.layout_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 30px;
}

/*FOR STYLING THE QUESTION-BOX, CLASS IS IN APP*/
.questionBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "quizQuestion quizMultichoise";
  background-color: #0b0a15b3;
  /* rgb(14, 14, 29);*/
  border: 2px solid #fafafa;
  margin: 40px;
  grid-area: questionBox;
  max-width: 800px;
}

/* ONLY GRID AREA DECLARED, REST OF STYLING IN MODULE FOR EACH CLASS: QuizQandA.module.css*/

.quizQuestion {
  grid-area: quizQuestion;
}

.quizMultichoise {
  grid-area: quizMultichoise;
}

.progressBar {
  max-width: 800px;
}

/********************************/
