@import url("https://fonts.cdnfonts.com/css/harry-potter?styles=41888");
@import url("https://fonts.cdnfonts.com/css/spqr");

:root {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Harry Potter", "SPQR", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  /*background-color: rgb(10, 2, 41);*/
}

/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}*/

html,
body {
  min-height: 100%;
}

html {
  background-color: #0b0a15;
}

p {
  margin: 0;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  cursor: url("/public/images/snitchh.png"), auto;
}

body::before {
  content: "";
  background-image: url("/images/iStock.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/*THIS IS WHERE WE CAN STYLE THE PAGE; F.EKS QA BOX IN GRIDS AND STYLE IT FURTHER*/

/*FOR STYLING THE WHOLE PAGE, CLASS IS IN APP*/
.layout_wrapper {
  display: grid;
  justify-content: center;
  padding: 10px;
}

/*FOR STYLING THE QUESTION-BOX, CLASS IS IN APP*/

.questionsFullPage {
  display: grid;
  grid-template-areas:
    "questionTasks questionTasks"
    "questionBox questionBox"
    "nextButtonItem nextButtonItem"
    "bar bar";
  grid-template-rows: auto 1fr auto auto;
  grid-template-columns: 1fr;
  gap: 30px;
  position: relative;
}

.questionBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "quizQuestion quizMultichoiseItem";
  background-color: #0b0a15b3;
  border: 2px solid #b78f41bd;
  grid-area: questionBox;
  max-width: 800px;
  height: 400px;
}

/* QandA PAGE, REST OF STYLING IN MODULE FOR EACH CLASS: QuizQandA.module.css*/

.tasks {
  grid-area: questionTasks;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

h1 {
  font-size: 45px;
  font-family: 'Harry Potter', sans-serif;
  color: #fafafa;
  margin: 52px 46px 15px 46px;
}

.quizMultichoiseItem {
  grid-area: quizMultichoiseItem;
}

.nextButtonItem {
  grid-area: nextButtonItem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: -50px;
}

.progressBar {
  grid-area: bar;
  width: 800px;
  margin: 0 auto;
}

@supports (-webkit-background-clip: text) or (background-clip: text) {
  h1 {
    background-image: linear-gradient(to bottom, #ffcc66, #000);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

/********************************/

@media (max-width: 900px) {
  .questionBox {
    min-width: 600px;
    /* margin: 20px 10px 0; */
    max-width: 800px;
  }

  .progressBar {
    max-width: 100%;
    margin: 0 auto;
  }

  /* level text -> it doesn't fit with Alltext comp, so I make it extra small */
  .small {
    letter-spacing: 0;
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .questionBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px;*/
    max-width: 100vw;
    min-width: 90vw;
    padding-bottom: 25px;
    padding-top: 20px;
    height: auto;
  }

  .questionsFullPage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "questionTasks questionTasks"
      "bar bar"
      "questionBox questionBox"
      "nextButtonItem nextButtonItem";
    gap: 0;
  }

  .progressBar {
    width: 100%;
  }

  .nextButtonItem {
    margin-top: -20px;
  }

  h1 {
    margin: 16px;
    font-size: 30px;
  }

  .quizMultichoiseItem {
    width: 100%;
  }
}