.quizQuestion {
    padding: 50px;
    padding-top: 0px;
}

.quizMultichoise {
    padding: 30px;
}

.levelContainer {
    display: flex;
    align-items: center;
    padding: 50px;
}

.levelWand {
    width: 80px;
}

.levelText {
    color: white;
}

.optionButton {
    color: #fafafa;
    font-size: 15px;
    font-family: 'SPQR', sans-serif;
    letter-spacing: 0.1em;
    padding: 15px;
    font-weight: bold;
    background-color: #ffcc66;
    /*Backupcolor*/
    background-image: linear-gradient(to bottom, #ffcc66, #000);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 70px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.correct {
    background-color: #08400d;
    /*Backupcolor*/
}

.incorrect {
    background-color: #800000;
    /*Backupcolor*/
}

.shake {
    animation: shake 0.5s ease forwards;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10px);
    }

    75% {
        transform: translateX(10px);
    }
}

@supports (-webkit-background-clip: text) or (background-clip: text) {
    .correct {
        background-image: linear-gradient(to bottom, #08400d, #000);
    }

    .incorrect {
        background-image: linear-gradient(to bottom, #800000, #000);
    }
}